@import url("/src/style/variables.less");

.main-container {
    margin: @common-margin;
    padding-right: 3px;
    width: 100%;
    height: calc(100% - 8px);
    // background-color: rgb(236 254 255);// rgb(249 250 251);
    background-origin: border-box;
    border-radius: 0.375rem;
    border-color: transparent;
    border-style: solid;
    box-shadow: 0 0 3px rgb(0 0 0 / 0.25);
}
  

.horizon-tow-split-container {
    display: flex;
    margin-top: 3px; 

    .split-content {
        flex: 1;
        width: calc(50% -3px);
        height: 100%;
    }
}

.vertical-two-split-container {
    
    .split-content {
        width: 100%;
        height: calc(50% - 1.5rem);
    }
}


.action {
    display: flex;
    justify-content: right;
    height: 3rem;
    margin: 3px 5px;
}

.form {
    margin: 0;
    padding: 0;
}

.ant-card-body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.full-textarea {
    height: 100% !important;
    resize: none;
    
}